{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="shortcut icon" href="{% static 'assets/images/fav.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'assets/images/fav.jpg'%}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawsom-all.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}" />
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="col-xl-10 col-lg-11 login-container">
                <div class="row">
                    <div class="col-lg-7 img-box">
                        <img src="{% static 'assets/images/login-banner.png'%}" alt="">
                    </div>
                    <div class="col-lg-5 no-padding">
                        <div class="login-box">
                            <h5>Welcome Back!</h5>
                            <center>
                                {% if messages %}
                                {% for msg in messages %}
                                <code>{{ msg }}</code>

                                {% endfor %}

                                {% endif %}
                            </center>
                            <form method="POST" action="/">
                                {% csrf_token %}

                            <div class="login-row row no-margin">
                                <label for=""><i class="fas fa-envelope"></i> Email</label>
                                <input type="text" name ="email" id="email" class="form-control form-control-sm">
                            </div>

                             <div class="login-row row no-margin">
                                <label for=""><i class="fas fa-unlock-alt"></i> Password</label>
                                <input type="text" name="password" id="password" class="form-control form-control-sm">
                            </div>

                             <div class="login-row row forrr no-margin">
                               <p> <input type="checkbox"> Remember Me</p>
                               <p><a href="">Forget Password?</a></p>
                            </div>

                             <div class="login-row btnroo row no-margin">
                               <button  name="submit" type="submit" class="btn btn-primary btn-sm"> Sign In</button>
                               <!-- <button class="btn btn-light  btn-sm"> Create Account</button> -->
                            </div>
                            <div class="login-row donroo row no-margin">
                               <p>Dont have an Account ? <a href="/sign-up">Sign Up</a></p>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

    <script src="{% static 'assets/js/jquery-3.2.1.min.js'%}"></script>
    <script src="{% static 'assets/js/popper.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js'%}"></script>
    <script src="{% static 'assets/js/script.js'%}"></script>
</html>
